*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-left: 2%;
    padding-right: 2%;
}

div{
    padding-top: 30px;
}

Img{
    float: left;
    width: 20%;
}

h2{
    margin-left: 55%;
}

p{
    text-align: left;
}